<?xml version="1.0"?>
<config>
    <modules>
        <ETWExtensions_Inquiry>
            <version>1.0.0</version>
        </ETWExtensions_Inquiry>
    </modules>
    <frontend>
        <routers>
            <inquiry>
                <use>standard</use>
                <args>
                    <module>ETWExtensions_Inquiry</module>
                    <frontName>inquiry</frontName>
                </args>
            </inquiry>
            <inquiry>
                <args>
                    <modules>
                        <ETWExtensions_Inquiry before="Mage_Inquiry">ETWExtensions_Inquiry</ETWExtensions_Inquiry>  
                    </modules>
                </args>
            </inquiry> 
        </routers>
        <layout>
            <updates>
                <inquiry>
                    <file>inquiry.xml</file>
                </inquiry>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <inquiry>
                <use>admin</use>
                <args>
                    <module>ETWExtensions_Inquiry</module>
                    <frontName>inquiry</frontName>
                </args>
            </inquiry>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <inquiry module="inquiry">
                <title>Inquiry</title>
                <sort_order>71</sort_order>               
                <!-- <children>
                        <items module="inquiry">
                                <title>Inquiry</title>
                                <sort_order>0</sort_order>
                                <action>inquiry/adminhtml_inquiry</action>
                        </items>
                </children> -->
                <action>inquiry/adminhtml_inquiry</action>
            </inquiry>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <ETWExtensions_Inquiry>
                            <title>Inquiry Module</title>
                            <sort_order>10</sort_order>
                        </ETWExtensions_Inquiry>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <inquiry>
                    <file>inquiry.xml</file>
                </inquiry>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <inquiry>
                <class>ETWExtensions_Inquiry_Model</class>
                <resourceModel>inquiry_mysql4</resourceModel>
            </inquiry>
            <inquiry_mysql4>
                <class>ETWExtensions_Inquiry_Model_Mysql4</class>
                <entities>
                    <inquiry>
                        <table>etw_inquiries</table>
                    </inquiry>
                </entities>
            </inquiry_mysql4>
        </models>
        <resources>
            <inquiry_setup>
                <setup>
                    <module>ETWExtensions_Inquiry</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </inquiry_setup>
            <inquiry_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </inquiry_write>
            <inquiry_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </inquiry_read>
        </resources>
        <blocks>
            <inquiry>
                <class>ETWExtensions_Inquiry_Block</class>
            </inquiry>
        </blocks>
        <helpers>
            <inquiry>
                <class>ETWExtensions_Inquiry_Helper</class>
            </inquiry>
        </helpers>
        <template>
            <email>
                <inquiry_notification_admin module="ETWExtensions_Inquiry">
                    <label>Inquiry Notification Admin</label>
                    <file>inquiry_notification_admin.html</file>
                    <type>html</type>
                </inquiry_notification_admin>
            </email>
        </template>
    </global>
</config>